<header class="header bg-dark lana-full-bg-image-golden-large-sitting-dog-body-indoor d-flex flex-column"
    id="slider-header">
    <app-navbar></app-navbar>

    <div class="container-fluid text-white mt-auto py-5">
        <div class="row">
            <div class="col-12 col-md-9 col-lg-8 col-xl-7 h-100">
                <div class="swiper-wrapper" data-scroll-animate="comeInUp">
                    <div class="swiper-slide">
                        <div class="lana_slider type-lana_slider card slider-card h-100">
                            <div class="card-body">
                                <h1 class="card-title">
                                    Are you willing to embark on an ambitious quest?
                                </h1>
                                <p class="card-text">
                                    <strong>Join our discord</strong> to embark the Golden Sol and begin your journey.
                                </p>
                                <p>
                                    Our ship’s quest is to become the only <strong>NFT project</strong> you’ll need to make a living. This
                                    is why we’re the NFT project <strong>giving the most to our community.</strong>
                                </p>
                            </div>
                            <div class="card-footer">
                                <p class="card-text">
                                    <a href="https://discord.gg/qVxYyZwCKS"
                                        class="btn btn-primary btn-lg text-uppercase font-weight-bold mr-3 mb-3 w-20x">
                                        Join our Discord 
                                    </a>
                                    <a href="https://twitter.com/PiratesDelSol/"
                                        class="btn btn-outline-primary btn-lg text-white text-uppercase font-weight-bold mb-3 w-20x">
                                        Follow Our Twitter
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>