header {
    width: 100%;
    height: 100%;
}

.lana-full-bg-image-golden-large-sitting-dog-body-indoor {
    background-image: url('/assets/img/zoltan-tasi.jpg');
    background-size: cover;
  }
.nav-item {
    color: white;
}