<header class="header bg-dark lana-full-bg-image-golden-large-sitting-dog-body-indoor d-flex flex-column"
        id="slider-header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-transparent" id="lana-pet-main-navbar">
        <a class="navbar-brand" href="/">
            <img class="navbar-logo" src="/assets/Logo_skull_couleurs.png" alt="Navbar Logo" width="100">
        </a>

        <div class="collapse navbar-collapse" id="lana-navbar">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/">Home</a>
                </li>
            </ul>
        </div>
    </nav>
    
    <div class="container-fluid text-white mt-auto py-5">
        <div class="row">
            <div class="col-12 col-md-9 col-lg-8 col-xl-7 h-100">
                    <div class="swiper-wrapper" data-scroll-animate="comeInUp">
                        <div class="swiper-slide">
                            <div class="lana_slider type-lana_slider card slider-card h-100">
                                <div class="card-body">
                                    <h1 class="card-title">
                                        Are you willing to embark on an ambitious quest?
                                    </h1>
                                    <p class="card-text">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                    </p>
                                </div>
                                <div class="card-footer">
                                    <p class="card-text">
                                        <a href="#"
                                           class="btn btn-primary btn-lg text-uppercase font-weight-bold mr-3 mb-3 w-15x">
                                            Find Out Now
                                        </a>
                                        <a href="#"
                                           class="btn btn-outline-primary btn-lg text-white text-uppercase font-weight-bold mb-3 w-15x">
                                            Mint a Pirate
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</header>