<div id="who-we-are-container" class="container-fluid bg-light-orange section-py--large">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-6 text-center">
                <h1 class="mb-4 font-weight-bold" data-scroll-animate="fadeInDown">Welcome</h1>
                <div data-scroll-animate="fadeInUp">
                    <p>The only real INCOME NFT project you'll ever need</p>
                    <p>Community, Community and Community focused</p>
                </div>
                <div class="lana-hr lana-hr-4 border-primary mt-4" data-scroll-animate="zoomIn"></div>
            </div>
        </div>
    </div>
</div>