<div id="our-pets-container" class="container-fluid bg-light-blue section-py--large">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-6 text-center">
                <h1 class="mb-4 font-weight-bold" data-scroll-animate="fadeInDown">Roadmap</h1>
                <p data-scroll-animate="fadeInUp">Placeholder</p>
                <div class="lana-hr lana-hr-4 border-primary mt-4" data-scroll-animate="zoomIn"></div>
            </div>
        </div>
        <div class="row mt-5 justify-content-center mfp-gallery">
            <div *ngFor="let item of roadmapItems" class="col-12 col-sm-6 col-lg-4 py-3">
                <div class="lana_pet type-lana_pet card pet-grid-card" data-scroll-animate="fadeIn">
                    <div class="lana-img-overlay  text-white">
                        <img src={{item.image}} class="mfp-image img-fluid" alt="Pet">
                        <div class="container overlay-content">
                            <div class="card-body">
                                <h5 class="post-title card-title">
                                    {{item.title}}
                                </h5>
                                <p class="post-text card-text">
                                    {{item.description}}
                                </p>
                            </div>
                            <div class="card-footer">
                                <p class="card-text">
                                    {{item.date}}
                                </p>
                            </div>
                            
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>