<div id="our-pets-container" class="container-fluid bg-light-blue section-py--large">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-6 text-center">
                <h1 class="mb-4 font-weight-bold" data-scroll-animate="fadeInDown">Roadmap</h1>
                <p data-scroll-animate="fadeInUp">For detailed information make sure to read the #information channel on
                    our Discord.</p>
                <div class="lana-hr lana-hr-4 border-primary mt-4" data-scroll-animate="zoomIn"></div>
            </div>
        </div>
        <div class="row justify-content-center mfp-gallery">
            <div *ngFor="let item of roadmapItems" class="col-4 p-0 p-md-3 p-lg-3">
                <div class="lana_pet type-lana_pet card pet-grid-card" data-scroll-animate="fadeIn">
                    <div class="lana-img-overlay  text-white">
                        <img src={{item.image}} class="mfp-image img-fluid" alt="Pet">

                        <div class="container overlay-content p-0 p-md-1" *ngIf="item.title">
                            <div class="card-header">
                                <h5 class="post-title card-title text-responsive">
                                    {{item.title}}
                                </h5>
                            </div>
                            <div class="card-body  py-0">
                                <p class="d-none d-md-block post-text card-text ">
                                    {{item.description}}
                                </p>
                            </div>
                            <div class="card-footer">
                                <p class="card-text">
                                    {{item.date}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>