<div id="our-pets-container" class="container-fluid bg-light-blue section-py--large">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-6 text-center">
                <h1 class="mb-4 font-weight-bold" data-scroll-animate="fadeInDown">Roadmap</h1>
                <p data-scroll-animate="fadeInUp">We will do shit and annonce our plans here</p>
                <div class="lana-hr lana-hr-4 border-primary mt-4" data-scroll-animate="zoomIn"></div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12 px-0">
                <div class="pets-carousel swiper-container swiper-container-items h-100">
                    <div class="swiper-wrapper">
                        <div *ngFor="let item of roadmapItems" class="swiper-slide">
                            <div class="lana_pet type-lana_pet card pet-grid-card mx-0 mx-md-3 h-100"
                                data-scroll-animate="fadeIn">
                                <div class="lana-img-zoom">
                                    <img src={{item.image}} class="card-img-top img-fluid"
                                        alt="Pet">
                                </div>
                                <div class="card-body">
                                    <h5 class="post-title card-title">
                                        {{item.title}}
                                    </h5>
                                    <p class="post-text card-text">
                                        Ut eu tempor lectus. Nulla odio nisl, dictum id facilisis et, luctus varius
                                        nisi. Aliquam eu nisl sit amet diam convallis commodo.
                                    </p>
                                </div>
                                <div class="card-footer">
                                    <p class="card-text">
                                        <a href="#" class="more-link card-link">
                                            Learn More <i class="lana-icon-arrow-right text-primary"></i>
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                        <div class="swiper-pagination" data-scroll-animate="fadeInDown"></div>
                        <div class="swiper-button-next swiper-button-arrow" data-scroll-animate="fadeInLeft"></div>
                        <div class="swiper-button-prev swiper-button-arrow" data-scroll-animate="fadeInRight"></div>
                </div>
            </div>
        </div>
    </div>


    <div class="swiper-slide">

    </div>