.logo {
    width: 2rem;
    display: inline-block;
  }
.discord:hover path{
    fill: #5865F2;
  }
img{
    width: 2rem;
}
ul
{
  display: flex;
  align-items: center;
  height: 100%;
}
button {
  background: transparent;
  border: none;
}
