:host{
  position: absolute;
  right: 1rem;
  top: 35%;
}
.user-container{
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
}
.button-nav{
  justify-content: flex-end;
}
.logo {
    height: 2rem;
    display: inline-block;
  }
.button-nav {
  float: right;
}
.discord:hover path{
    fill: #5865F2;
  }
.twitter:hover path{
  fill: #1DA1F2;
}
img{
    width: 2rem;
}

button {
  background: transparent;
  border: none;
  width: 100%;
}
.user-info{
  background-color: white;
  border-radius: 1rem;
  padding: 1rem;
}
.address-container{
  border-bottom: 3px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}
.address-text{
  width: 12em;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  padding-left: 1em;
}