:host{
  position: absolute;
  right: 1rem;
  top: 35%;
}
.user-container{
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
}
.button-nav{
  justify-content: flex-end;
}
.logo {
    height: 2rem;
    display: inline-block;
  }
.button-nav {
  float: right;
}
.discord:hover path{
    fill: #5865F2;
  }
img{
    width: 2rem;
}

button {
  background: transparent;
  border: none;
  width: 100%;
}
.user-info{
  background-color: white;
  border-radius: 1rem;
  padding: 1rem;
}
.address{
  border-bottom: 3px solid black;
}