<div id="offering-container"
class="container-fluid bg-dark text-white  section-py--large">
<div class="container">
   <div class="row justify-content-center">
       <div class="col-12 col-md-10 col-lg-6 text-center">
           <h1 class="mb-4 font-weight-bold" data-scroll-animate="fadeInDown">What we offer</h1>
           <p data-scroll-animate="fadeInUp">We offer all thoses things for you to do.</p>
           <div class="lana-hr lana-hr-4 border-primary mt-4 mb-5" data-scroll-animate="zoomIn"></div>
       </div>
   </div>
   <div class="row mt-4">
       <div class="col-12 col-sm-6 col-lg-3 py-4 py-lg-0">
           <div class="lana_service type-lana_service card service-card bg-transparent text-center">
               <div class="card-img-top img-fluid" data-scroll-animate="zoomIn">
                   <span class="lpi lpi-poo lpi-5x"></span>
               </div>
               <div class="card-body" data-scroll-animate="fadeIn">
                   <h5 class="post-title card-title">
                       Treasure chest
                   </h5>
                   <p class="post-text card-text">
                       Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet ultricies dui,
                       et posuere lacus. Vestibulum accumsan justo eget justo rhoncus convallis.
                   </p>
               </div>
           </div>
       </div>
       <div class="col-12 col-sm-6 col-lg-3 py-4 py-lg-0">
           <div class="lana_service type-lana_service card service-card bg-transparent text-center">
               <div class="card-img-top img-fluid" data-scroll-animate="zoomIn">
                   <span class="lpi lpi-poo lpi-5x"></span>
               </div>
               <div class="card-body" data-scroll-animate="fadeIn">
                   <h5 class="post-title card-title">
                       Pirate Love Island
                   </h5>
                   <p class="post-text card-text">
                       Nullam in malesuada turpis. Phasellus eget consectetur odio. Donec aliquam ac felis vel
                       fermentum. Proin at vestibulum lacus.
                   </p>
               </div>
           </div>
       </div>
       <div class="col-12 col-sm-6 col-lg-3 py-4 py-lg-0">
           <div class="lana_service type-lana_service card service-card bg-transparent text-center">
               <div class="card-img-top img-fluid" data-scroll-animate="zoomIn">
                   <span class="lpi lpi-poo lpi-5x"></span>
               </div>
               <div class="card-body" data-scroll-animate="fadeIn">
                   <h5 class="post-title card-title">
                       Owners perk
                   </h5>
                   <p class="post-text card-text">
                       Suspendisse porta eget odio eu faucibus. Vestibulum ullamcorper nulla sapien, ac
                       pulvinar elit ultrices quis. Sed at ante eget nisi congue tristique.
                   </p>
               </div>
           </div>
       </div>
       <div class="col-12 col-sm-6 col-lg-3 py-4 py-lg-0">
           <div class="lana_service type-lana_service card service-card bg-transparent text-center">
               <div class="card-img-top img-fluid" data-scroll-animate="zoomIn">
                   <span class="lpi lpi-poo lpi-5x"></span>
               </div>
               <div class="card-body" data-scroll-animate="fadeIn">
                   <h5 class="post-title card-title">
                       Pirates pew pew
                   </h5>
                   <p class="post-text card-text">
                       Aenean sapien lectus, viverra ut auctor quis, tempus eget erat. Sed ut bibendum diam, ac
                       fringilla turpis. Aenean finibus feugiat elit at accumsan.
                   </p>
               </div>
           </div>
       </div>
   </div>
</div>
</div>